.svg-container { 
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: middle; 
  overflow: hidden; 
}


.node circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 2px;
}

.link {
    stroke: black;
    stroke-width: 2px;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}
