.svg-container { 
  display: inline-block;
  position: relative;
  width: 100%;
  vertical-align: middle; 
  overflow: hidden; 
}


.link {
    stroke: rgb(154, 154, 154);
    stroke-width: 2px;
}

path {
  fill:rgb(154, 154, 154);
}

.node text, .linklabel{
  pointer-events: none;
  font-family: sans-serif;
  font-size: 12px;
  fill: black;
}

.linklabel {
  font-size: 10px;
}
